@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   /* Modo Light (colores predeterminados) */
   --bg: white;
   --text: black;

   /* Modo Dark */
   --dark-bg: #1a202c;
   --dark-text: white;
}

body.dark {
   /* Modo Light */
   --bg: white;
   --text: black;

   /* Modo Dark (colores actualizados) */
   --dark-bg: #1a202c;
   --dark-text: white;
}

/* Estilos generales */
body {
   background-color: var(--bg);
   color: var(--text);
}

/* Estilos específicos para el modo dark */
body.dark {
   background-color: var(--dark-bg);
   color: var(--dark-text);
}
