.redirect {
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 1.43;
   letter-spacing: 0.01071em;
   text-decoration: none;
   color: black;
   font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.layout {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.displayPaper {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3%;
}

.displayRegisterForm {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   background-color: #fff;
   box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
   padding: 32px;
}
